body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
}
canvas {
    background-color: #bbada0;
    border-radius: 10px;
}